<div class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="">
    </div>
    <div class="item">
      <img src="">
    </div>
    <div class="item">
      <img src="">
    </div>
    <div class="item">
      <img src="">
    </div>
  </div>
</div>

 <!--<%= render 'form' %>-->

<h2 class="page-header">find events around you</h2>